<div class="card mb-4">
    <img [src]="destination.imageUrl" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{destination.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>