<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 p-4">
            <form>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input #name type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="image-url">Image URL</label>
                    <input #imageUrl type="url" class="form-control" id="image-url" required>
                </div>
                <button class="btn btn-primary" type="submit" (click)="addDestination(name.value, imageUrl.value)">Agregar</button>
            </form>
        </div>
    </div>

    <ul class="row mt-4" id="destination-list">
        <li class="col-md-4" *ngFor="let destination of destinations">
            <app-destination [destination]="destination"></app-destination>
        </li>
    </ul>
</div>